<div class="container">
    <div class="logoContainer">
        <a href="/" class="logoLink">
            <img src="/login.png" alt="logo da empresa" class="logoImage">
        </a>
    </div>
    <div class="navContainer">
        <nav class="nav">
            <a href="/carros" class="link">Carros</a>
            <a href="/motoristas" class="link">Motoristas</a>
            <a href="/destinos" class="link">Destinos</a>
            <a href="/viagens" class="link">Viagens</a>
            <a href="#" class="link" (click)="logout($event)">Sair</a>
        </nav>
    </div>
</div>
