<div class="container">
    <div class="carHeader">
        <div class="carInfo">
            <span class="label">placa </span>
            <span class="title">Modelo do Carro</span>
        </div>
        <div class="status">
            <span>Situação</span>
        </div>
    </div>

    <div class="driver">
        <!-- <img alt="M" /> -->
         <div class="image">
            <span>M</span>
         </div>
        <div class="driverInfo">
            <span class="subtitleUppercase">Motorista Responsavel</span>
            <span class="driverName">Nome do Motorista</span>
        </div>
    </div>
    <div class="ocupation">
        <div class="ocupationInfo">
            <span class="subtitle">Ocupação do Carro</span>
            <span>4/5</span>
        </div>
        <div class="progress">
            <div class="progress__fill" [style.width.%]="value"></div>
        </div>
    </div>
    <div class="travels">
        <span class="subtitle">Viagens de Hoje</span>
        <span>3</span>
    </div>
    <div class="travel">
        <div class="travelInfo">
            <span class="driverName">horario</span>
            <div class="infoDestiny">
                <span>destino - cidade</span>
                <span>n passageiros</span>
            </div>
        </div>
        <span>situação</span>
    </div>
</div>
