.scheculeItemContainer
    display: flex
    width: 100%
    border-top: 1px solid var(--border)
    justify-content: space-between
    padding:  10px 0
    
.infos
    display: flex
    gap: 20px

.statusTravel
    padding-right: 20px

.confirmada
    color: lightgreen

.pendente
    color: orange