:root 
    --background: #08070d
    --surface: #15111d
    --primary: #f72585
    --secondary: #9b22ff
    --text: #f8f7ff
    --muted: #aaa3b5
    --border: #3a3045    
        
* 
    margin: 0
    padding: 0
    box-sizing: border-box

html,
body
    font-family: 'Helvetica', sans-serif
    background-color: var(--background)
    color: var(--text)
    height: 100%
    width: 100%