.container
    display: flex
    flex-direction: column
    padding: 20px
    border: 1px solid var(--border)
    border-radius: 8px
    background-color: var(--surface)

.label
    color: var(--primary)
    text-transform: uppercase

.alertHeader
    display: flex
    justify-content: space-between
    font-size: 20px

.alertList
    display: flex
    flex-direction: column
    gap: 9px
    

.dotListOcupados
    background: linear-gradient(90deg, var(--primary), var(--secondary))
    display: inline-block
    height: 8px
    width: 8px
    border-radius: 50%
    margin-right: 10px

.dotListDisponiveis
    background-color: var(--border)
    display: inline-block
    height: 8px
    width: 8px
    border-radius: 50%
    margin-right: 10px